p.sans {
    font-family: 'Noto Sans KR';
}

p.godic {
    font-family: '맑은고딕';
}

p.doteum {
    font-family: "돋움";
}

p.gulim {
    font-family: "굴림";
}

p.batang {
    font-family: "바탕";
}

p.dongle {
    font-family: 'Dongle';
}